<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Sessions

    <a data-toggle="collapse" href="#user_sessions_new_form">
      Add lesson
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.sessions.each do |lesson| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to lesson, lesson %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to lesson, method: :delete, data: { confirm: "Do you really want to delete this lesson" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_sessions_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "users/user_sessions_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
