<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @court, partial: "card", as: :court %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "courts/court_matches" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "courts/court_lessons" %>
  </div>
</div>
